<nav id="sidebarMenu" class="col-lg-2 d-lg-block bg-light sidebar collapse">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">
            <span data-feather="home" class="mb-1"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/devices">
            <span data-feather="file" class="mb-1"></span>
            Devices
          </a>
        </li>

        <li class="nav-item fixed-bottom mb-2">
            <a class="nav-link redText" href="/logout">
              <span data-feather="log-out" class="mb-1"></span>
              Log out
            </a>
          </li>
      </ul>
    </div>
  </nav>